<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <p>profile :sanu kumar</p>
        <ul>
            <% for(let i=0;i<6;i++){ %>
                <li>
                    <%=i%>
                </li>
            <%}%>

        </ul>
        <% if(true){ %>
            <h1>it true</h1>
        <% }else{%>
            <p> its false</p>
        <%}%>
    </body>
</html>